{% extends "base.html" %}
{% load static %}

{% block title %}Каталог{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1><a href="/catalog">Каталог</a></h1>
        </div>

        <div class="sort-block">
            Сортировать товары:
            <a href="/catalog/?sort=price_low"> по возрастанию цены </a> |
            <a href="/catalog/?sort=price_high">по убыванию цены </a> |
            <a href="/catalog/?sort=name"> в алфавитном порядке </a> |
            <a href="/catalog/"> сброс сортировки </a>

        </div>

        <div class="content">

            {% for phone in phones %}

            <img src="{{ phone.image }}" alt="{{ phone.slug }}" title="{{ phone.slug }}">
            <a href="/catalog/{{phone.slug}}"> <h3> {{ phone.name }} </h3> </a>
            <h4><i> {{ phone.price }} рублей </i> </h4>


            {% endfor %}
        </div>
    </div>
{% endblock %}